:root {
  --white: #fff;
  --black: #444;
  --gray: #EBEAED;
  --headings: #1E0E62;
  --text: rgba(21, 20, 57, 0.4);
  --bg: #F1F1F1;

  --ff-base: 'DM Sans', sans-serif;

  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;
}

/* Reset */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

/* Global */
html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
body {
  font-family: var(--ff-base);
  background-color: var(--bg);
}
section {
  margin: 1.5rem 0;
}
h1, h2, h3, h4, a {
  color: var(--headings);
}
h2 {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}
p, div {
  color: var(--black);
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  width: 85%;
  max-width: 75rem;
  margin: 0 auto;
}

/* Layout */
  /* Nav */
header {
  width: 100vw;
  background-color: var(--white);
  position: fixed;
  top: 0;
}
.nav__container {
  padding: .5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 2rem;
  transition: 250ms;
}
.hamburger {
  color: var(--headings);
}
.nav__list {
  height: 0px;
  width: 100vw;
  background-color: var(--white);
  border-top: 0.0625rem solid var(--gray);

  list-style: none;
  overflow: hidden;

  position: absolute;
  top: 4rem;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 250ms;
}
.nav__item {
  font-size: 1rem;
  padding: 1rem;
  transition: 250ms;
}
.toggle {
  height: 14rem;
}

/* Main content */
main {
  margin-top: 5.5rem;
}
  /* Instruccions */
.instructions p {
  margin-bottom: 1rem;
}
  /* Sections to select */
.sections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.sections a {
  background-color: var(--white);
  font-size: 1rem;
  padding: 1rem;
  transition: 250ms;
}
.logo:hover, .sections a:hover, .author:hover {
  opacity: .7;
  scale: 1.025;
}
/* Error section */
.author {
  text-decoration: underline;
  transition: 250ms;
}
  /* socials */
.socials {
  max-width: fit-content;
  margin: 1.25rem auto 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.socials__icon {
  font-size: 1.25rem;
  color: var(--black);
  transition: 250ms;
}
.nav__item:hover, .socials__icon:hover {
  opacity: .7;
  scale: 1.05;
}

/* Section active */
.active {
  font-weight: var(--fw-bold);
}
/* Unavailable sections */
.unavailable {
  display: none;
}

/* Esilos para secciones */
  /* Verbs container */
.verbs-container {
  max-width: 46.875rem;
  margin: 0 auto;
}
.verb-container {
  display: flex;
  flex-wrap: wrap;
}
.verb-container__inputs input {
  width: 11.75rem;
  margin-left: 1rem;
  padding-left: 1rem;
}
.number {
  width: 6.875rem;
  font-size: 1rem;
  margin-right: 1rem;
}
.buttons {
  width: 100%;
  max-width: 26.3rem;
  font-size: 1rem;
  margin: 1rem auto 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.button {
  padding: .25rem 1rem;
  margin: 0 auto;
}
/* States */
.correct {
  background-color: #004b23;
  color: #fff;
}
.incorrect {
  background-color: #6a040f;
  color: #fff;
}
input {
  border: 0.0625rem solid #000;
}

/* Utilities */
.bold {
  color: var(--headings);
  font-weight: var(--fw-semibold);
}
.underline {
  text-decoration: underline;
}
.mg-vertically {
  margin: 1rem 0;
}
.mg-top {margin-top: 1rem;}
.mg-left {margin-left: 1.5rem;}
.regular-text-justify {font-size: 1rem;text-align: justify;}

/* Responsiveness */
@media (min-width: 45rem) {
  .hamburger {
    display: none;
  }
  .toggle {
    height: unset;
  }
  .nav__list {
    height: unset;
    width: unset;
    border-top: unset;
    position: relative;
    top: unset;
    flex-direction: row;
  }
}